<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="alternate" type="application/rss+xml" title="hyper.dev" href="{{ base }}/feed.xml" />
	<link rel="stylesheet" href="/static/normalize.css">
	<link rel="stylesheet" href="/static/fonts/texgyrepagella-regular/stylesheet.css">
	<link rel="stylesheet" href="/static/fonts/leaguegothic.css">
	<link rel="stylesheet" href="/static/styles.css">
	<title>hyper.dev</title>
    </head>
    <body>
        <div id="background"></div>
	<div id="overlay">
	</div>
	<div id="root" class="index">
	    <h1><a href="{{ base }}">hyper.dev</a> <small>[<a href="{{ base }}/feed.xml">feed</a>] [<a href="{{ base }}/Amirouche.BOUBEKKI.2020.pdf">resume</a>]</small></h1>
	    <ul>
		{% for post in posts %}
		    <li><a href="{{ base }}/blog/{{post['filename']}}">{{ post['title'] }}</a></li>
		{% endfor %}
	    </ul>
	</div>
    </body>
</html>
