[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daiquiri = "*"
docopt = "*"
feedgen = "*"
"jinja2" = "*"
lxml = "*"
mistune = "*"
pygments = "*"

[dev-packages]

[requires]
python_version = "3.6"
