/* flexbox cheatsheet: https://bit.ly/1xEYMhF */

/* universal box sizing with inheritance */
/* https://css-tricks.com/box-sizing/ */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Regular */
@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond12-Regular.ttf') format('truetype');
    font-weight: normal;
}



/* BASICS */

body {
    font-family: 'EBGaramond', serif;
    font-size: 28px;
    color: black;
    background: white;
}

h1 {
    font-family: 'League Gothic', Impact, sans-serif, sans;
    font-weight: normal;
    color: black;
    text-align: left;
    font-size: 2em;
}

h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active
{
    text-decoration: none;
    border: none;
}

h2, h3, h4, h5, h6 {
    font-family: 'League Gothic', Impact, sans-serif, sans;
    font-weight: normal;
    color: black;
    text-align: left;
    margin: 0px;
}

li {
    margin-bottom: 0.5em;
}

p {
    margin: 0px;
    line-height: 2em;
}

code {
    background: hsla(0, 0%, 100%, 0.3);
    padding: 3px;
    border-radius: 3px;
}



a:link,
a:visited,
a:active {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

a:hover {
    color: #3498db;
    border-bottom: 1px solid #3498db;
}

/* BACKGROUND */

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(austerity-by-shvembldr.png) no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 800px) {
    body { background: url(austerity-by-shvembldr.png) #FFF no-repeat center center fixed;}
    #background { display: none;}
}

/* OVERLAY */

#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    transform: translateX(-50%) translateY(-50%);
    // background: url(overlay-video-dark.png);
    background: hsla(0, 100%, 100%, 0.8);
}

/* ROOT */

#root.index {
    padding-bottom: 100px;
//    background: hsla(0, 0%, 0%, 0.75);
    padding: 15px;
}

#root > div {
    padding: 100px 0px;
//    background: hsla(0, 0%, 0%, 0.75);
}

#root > h1 {
    padding: 15px;
}

#root > div > * {
    margin: auto;
    max-width: 888px;
}

blockquote {
    padding: 15px;
    background: hsla(0, 0%, 100%, 0.2);
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

div.highlight {
    font-size: 0.9em;
    background: black;
    color: white;
    padding: 15px;
    margin: 15px;
}

#footer {
    max-width: 600px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    line-height: 2em;
}
