/* flexbox cheatsheet: https://bit.ly/1xEYMhF */

/* universal box sizing with inheritance */
/* https://css-tricks.com/box-sizing/ */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/* BASICS */

body {
    font-family: sans;
    font-size: 18px;
    color: white;
    padding: 50px;
}

h1 {
    font-family: 'League Gothic', Impact, sans-serif, sans;
    font-weight: normal;
    color: white;
    text-align: left;
    font-size: 6em;
    margin: 0px;
}

h2, h3, h4, h5, h6 {
    font-family: 'League Gothic', Impact, sans-serif, sans;
    font-weight: normal;
    color: white;
    text-align: left;
    margin: 0px;
}

p {
    margin: 0px;
    line-height: 1.6em;
}

code {
    background: hsla(0, 0%, 100%, 0.1);
    padding: 3px;
    border-radius: 3px;
}


a:link,
a:visited,
a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #3498db;
    border-bottom: 1px solid #3498db;
}

/* BACKGROUND */

#background video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(video/poster.jpeg) no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 800px) {
    body { background: url(video/poster.jpeg) #000 no-repeat center center fixed;}
    #background { display: none; }
}

/* OVERLAY */

#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    transform: translateX(-50%) translateY(-50%);
    background: url(overlay-video-dark.png);
}

/* ROOT */

#root {
    text-align: right;
}
